@import '../../../../public/theme.scss';

.header {
  z-index: 1;
  position: fixed;
  width: 100%;
  display: block;
  .rigth-links {
    width: 50%;
    margin-top: 30px;
    display: inline-block;
    text-align: center;
  }
  .left-links {
    width: 40%;
    display: inline-block;
    margin-left: 10%;
  }
  .link {
    font-weight: 500;
    margin-left: 40px;
    color: $light-gray;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .logo {
    img {
      position: absolute;
      top: 20px;
      width: 60px !important;
    }
  }
  .link:hover {
    color: $white;
    border-bottom: 2px solid $red;
    padding-bottom: 10px;
  }
}
