@import '../../../../public/theme.scss';

.screenRegister {
  background-image: url('../../../assets/2.jpg');
  background-position: center;
  background-size: 100%;
  height: 1000px;
  .card {
    border: 2px solid $light-gray;
    opacity: 0.8;
    //background-image: linear-gradient(rgba(44, 44, 44, 0.2), #222);
    background-color: $dark;
    padding: 120px 50px 120px 50px;
    margin-top: 100px;
    color: $white;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    align-content: center;
    text-align: center;
    .iconUser {
      font-size: 9rem;
      color: $red;
    }

    form {
      input {
        margin-top: 30px;
        border: none;
        border-bottom: 1px solid;
        border-color: $white;
        background-color: $dark;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        font-size: 1.1rem;
        color: $white;
        text-indent: 10px;
        transition: 150ms;
      }
      input:focus {
        color: $white;
        outline: none;
        border-bottom: 5px solid $white;
      }
      input:active {
        color: $white;
      }
      .btnLogin {
        margin-top: 30px;
        width: 100%;
        padding: 10px;
        background-color: $red;
        outline: none;
        border: none;
        border-radius: 30px;
        color: $white;
        cursor: pointer;
      }
      .btnLogin:hover {
        background-color: $light-red;
      }
      button:link {
        outline: none;
        border: none;
      }
    }
  }
}
